*{
  margin: 0;
  padding: 0;

}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  width: 100vw;
  background: linear-gradient(180deg,#FF6B4C, #f0e8e8);
  /* 默认字体设置 */
  font-size: 16px;
}
